@media (max-width: 1200px)
  .container
    max-width: 950px
  .hotel
    &-slider
      width: 580px
      &__image
        width: 100%
        height: 100%
        object-fit: cover

  .reviews
    &-slider
      &__item
        max-width: 580px

  .activities
    padding-bottom: 70px
    &__card
      margin-bottom: 20px

  .card
    min-width: 339px
    heigh: 255px

  .footer
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__logo-block
      grid-row: 1 / 2
      grid-column: span 2
      margin: 0
    &__categories
      grid-row: 2 / 5
      grid-column: span 2
    &__additional
      grid-row: 2 / 5
      grid-column: span 2
    &__legal
      grid-row: 2 / 5
      grid-column: span 2
    &__contact
      &-details
        grid-row: 5
        grid-column: span 4
      &-form
        grid-row: 6 / 7
        grid-column: span 4
    &__social
      &-network
        grid-row: 1 / 2
        align-self: center
    &__bottom
      grid-row: 7
      grid-column: 1 / 7
      &-wrapper
        margin: 0
    &__link
      &--mb-2
        margin-right: 10px
    &__input
      flex-basis: 47%

// media for 992px
@media (max-width: 992px)
  .container
    max-width: 750px
  .navbar
    &__search
      margin-left: auto

  .hotel
    &-grid
      flex-direction: column
    &-slider
      margin-bottom: 30px
      width: 100%
      &__button
        &:focus
          outline: none

    &-second
      flex-direction: row
  .packages
    &__title
      font-size: 30px
    &-cards
      grid-template-rows: 500px 500px 500px
      grid-template-columns: 1fr 1fr
    &-large
      grid-template-rows: 500px
      grid-template-columns: 1fr 1fr
      grid-row-start: 1
      grid-row-end: 2
      grid-column-start: 1
      grid-column-end: 3
    &-medium
      grid-template-rows: 1fr 1fr
      grid-template-columns: 1fr
      &__image-container
        display: grid
        grid-template-rows: 1fr
      &__image
      &__offer
        padding: 8px 11px
        font-size: 12px
        line-height: 15px
      &__info-wrapper
        padding: 27px 23px

  .footer
    &__social
      &-network
        grid-column: span 3
    &__contact
      &-details
        grid-column: span 5
      &-form
        grid-row: 6 / 7
        grid-column: span 4
    &__bottom
      grid-row: 7
    &__input
      flex-basis: 47%
// responsive for 768px
@media (max-width: 768px)
  .container, .newsletter-wrapper
    max-width: 680px
    width: 92%

  .navbar
    &-top
      padding: 30px 0
    &-menu
      padding: 23px 0
      &__link
        font-weight: 700
        font-size: 12px
        line-height: 15px

  .logo
    width: 132px

  .search
    &__input
      width: 340px

  .hotel
    padding-bottom: 60px
    &-slider
      height: 390px
    &-map
      width: 330px
      height: 210px

  .booking
    width: 330px
    height: 210px

  .card
    min-width: 280px
    height: 255px
    &__image
      width: 100%
      object-fit: cover

// Responsive for 728px
@media (max-width: 728px)
  .container
    max-width: 680px
    width: 92%
  .booking
    width: 310px
    height: 210px

  .hotel
    &-slider
      height: 350px
    &-map
      width: 310px
      height: 210px

// Responsive for 720
@media (max-width: 720px)
  .container
    max-width: 670px
    width: 92%

  .packages
    &-cards
      grid-template-rows: 500px 500px 500px 500px 500px
      grid-template-columns: 1fr
    &-large
      grid-template-rows: 1fr 1fr
      grid-template-columns: 1fr
      grid-row-start: 1
      grid-row-end: 2
      grid-column-start: 1
      grid-column-end: 2
      &__image-wrapper
        min-height: 250px
      &__image
        width: 100%
        object-fit: cover
      &__card
        grid-row: 2 / 3
        grid-column: 1 / 2
        padding: 15px 20px
      &__title
        margin-bottom: 23px
      &__text
        display: none
      &__rooms
        margin-bottom: 20px

// Responsive for 680px
@media (max-width: 680px)
  .container
    max-width: 560px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding: 28px 0

  .menu
    &-button
      display: flex
      justify-content: space-between
      align-items: center
      flex-direction: column
      padding: 0
      width: 16px
      height: 11px
      border: none
      background-color: $text-color-light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color-dark

  .logo
    width: 99px

  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-info
      &__text
        flex-basis: 100%
      &__name
        flex-basis: 100%
        margin-top: 10px
      &__offer
        order: -1
        margin-left: 0
      &__rating
        display: none
    &-wrapper
      justify-content: space-between
    &-stars
      flex-basis: auto
    &-second
      flex-direction: column
    &-map
      width: 100%
    &-slider
      &__image
        object-fit: cover

  .booking
    width: 100%
    &__wrapper
      margin-bottom: 20px

  .newsletter
    padding: 76px 0 83px 0
    &-wrapper
      flex-direction: column
      align-items: flex-start
      max-width: 560px
      width: 92%

    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px

  .subscribe
    width: 100%

  .reviews
    padding: 40px 0 60px 0
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        padding: 0 30px 30px
        &:before, &:after
          display: none
      &__button
        top: 30px
        &--next
          right: 50%
          margin-right: -80px
          transform: translate(50%, 0)
        &--prev
          left: 50%
          margin-left: -80px
          transform: translate(-50%, 0)

  .activities
    padding: 40px 0 60px
    &-wrapper
      flex-wrap: wrap

  .card
    min-width: 100%

  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-column-gap: 0
    &__logo-block
      grid-row: 1 / 3
      grid-column: 1
      width: 104px
      height: 120px
    &__social
      &-network
        grid-row: 3 / 4
        grid-column: 1
    &__categories
      grid-row: 4 / 5
      grid-column: 1
    &__additional
      grid-row: 5 / 6
      grid-column: 1
    &__legal
      grid-row: 6 / 7
      grid-column: 1
    &__contact
      &-details
        grid-row: 7 / 8
        grid-column: 1
      &-form
        grid-row: 8 / 9
    &__message
      flex-basis: 100%

    &__bottom
      grid-row: 9 / 10

@media (max-width: 576px)
  .container
    max-width: 500px
    width: 92%
  .footer
    &-wrapper
      grid-template-columns: 1fr
      grid-column-gap: 0
    &__logo-block
      grid-column: 1
    &__social
      &-network
        grid-column: 1
    &__categories
      grid-column: 1
    &__additional
      grid-column: 1
    &__legal
      grid-column: 1
    &__contact
      &-details
        grid-column: 1
      &-form
        grid-column: 1 / 2
    &__input
      flex-basis: 100%
    &__bottom
      flex-direction: column
      align-items: flex-start
      &-wrapper
        margin-bottom: 10px
  .footer
    &__input
      flex-basis: 100%
    &__message
      flex-basis: 100%
// responsive for 500
@media (max-width: 500px)
  .container
    max-width: 450px
    width: 92%
  .hotel
    &-slider
      height: 300px

  .newsletter
    &__title
      margin-bottom: 37px

  .reviews
    padding: 40px 0 50px 0
    &__title
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px

  .card
    width: 100%
    heght: 255px
// responsive for 400
@media (max-width: 400px)
  .container
    max-width: 360px
    width: 92%
  .hotel
    &-slider
      height: 240px
      &__image
        object-fit: cover

  .activities
    padding: 40px 0 60px
    &__title
      margin-bottom: 37px
      font-size: 18px
      line-height: 23px
  .card
    width: 100%

  .footer
    &__link
      font-size: 12px
      line-height: 140%
      &--mb-2
        margin-right: 5px
    &__info
      flex-basis: 100%
      margin-bottom: 20px
    &__button
      order: 10
