*
  box-sizing: border-box

body
  font-family: 'Muli', sans-serif
  background-color: $bg-light-color
  color: $text-color-dark
  
.container 
  max-width: 1110px
  margin: auto
img 
  max-width: 100%