.hotel
  padding-top: 25px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    &__block
      margin-bottom: 20px
    &__name
      margin-top: 4px
      margin-bottom: 0
    &__offer
      margin-top: 4px
      margin-left: 14px
    &__description
      margin: 0
  &-name
    font-size: 24px
    line-height: 30px
    text-transform: uppercase
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-description
    font-weight: 400
    font-size: 12px
    line-height: 15px
  &-stars
    flex-basis: 100%
  &-grid
    display: flex
    justify-content: space-between
  &__slider
    margin-left: 0
  &-slider
    width: 728px
    height: 450px
    &__item
      position: relative
      width: 100%
      height: 100%
      border-radius: 8px
      overflow: hidden
      &:after
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
        z-index: 20
    &__button
      position: absolute
      top: 50%
      transform: translateY(-50%)
      z-index: 99
      width: 30px
      height: 30px
      border: none
      background-repeat: no-repeat
      background-position: center
      background-color: transparent
      cursor: pointer
      &:focus
        outline: none
      &--next
        right: 18px
        background-image: url(../img/hotel/arrow-next.svg)
      &--prev
        left: 18px
        background-image: url(../img/hotel/arrow-prev.svg)

  &-second
    display: flex
    flex-direction: column
    justify-content: space-between
  &-map
    width: 347px
    height: 213px
    border-radius: 10px
    overflow: hidden

.offer
  padding: 4px 9px
  background-color: $primary-color
  border-radius: 3px
  color: $text-color-light
  font-weight: 600
  font-size: 10px
  line-height: 13px

.rating
  max-width: 65px
  min-height: 45px
  background-color: $primary-color
  color: $text-color-light
  border-radius: 4px
  text-align: center
  &__text
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: 700
    font-size: 14px
    line-height: 18px

.booking
  padding: 28px
  width: 350px
  height: 210px
  font-family: 'Nunito', sans-serif
  background-color: $bg-dark-color
  border-radius: 8px
  color: $text-color-light
  &-price
    display: flex
    justify-content: space-between
    margin-bottom: 9px
    &__wrapper
      display: flex
      flex-direction: column
    &__start
      font-weight: 400
      font-size: 10px
      line-height: 14px
    &__pricetag
      font-weight: 800
      font-size: 24px
      line-height: 33px
    &__per-room
      font-weight: 400
      font-size: 12px
      line-height: 16px
    &__person
      display: flex
      flex-direction: column
    &__user-info
      margin-bottom: 8px
    &__user-description
      margin-left: 4px
      font-weight: 400
      font-size: 12px
      line-height: 16px
    &__home-info
      display: flex
      justify-content: space-between
    &__home-description
      align-self: flex-end
      font-weight: 400
      font-size: 12px
      line-height: 16px
  &__call-center
    display: flex
    justify-content: space-between
    margin-bottom: 17px
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__call
    color: inherit
    text-decoration: none
    cursor: pointer
    &:focus
      outline: none
  &__button
    width: 100%
    min-height: 45px
    font-weight: 600
    font-size: 14px
    line-height: 19px
    background-color: $primary-color
    border: none
    border-radius: 4px
    color: $text-color-light
    cursor: pointer
    &:focus
      outline: none
.map-image
  width: 100%
